<ul>
  <% @job.sorted_comments.each do |comment| %>
  <li>
    <p class = 'title'>Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago:</p>
    <p class = 'subcontent'><%= comment.content %></p>
  </li>
  <% end %>
</ul>
