<% @company.contacts.each do |contact| %>
  <div class="subcontent">
    Name: <%= contact.full_name %><br>
    Position: <%= contact.position %><br>
    Email: <%= contact.email %><br>
  </div><br>
<% end %>
