<h3>Companies</h3>

<% @companies.each do |company| %>
  <ul>
    <li>
      <%= link_to company.name, company_path(company), class: "link title_link" %>
      <%= link_to "Edit", edit_company_path(company), class: "link edit_link" %>
      <%= link_to "Delete", company_path(company), method: "delete", class: "link delete_link" %>
    </li>
  </ul>
<% end %>
