$slight_box_shadow: 1px 0px #ededed;

.contacts-section {
  display: inline-flex;
  box-shadow: $slight_box_shadow;
  flex-flow: column;
  align-items: center;

  background-color: #8898ad;

  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;

  font-size: 12px;
  text-shadow: 0px 0px black;

  .subcontent {
    color: white;
    text-align: left;
  }
  .new_contact {
    font-size: 11px;
    width: 75%;
  }
}
