$slight_box_shadow: 1px 1px #ededed;
$white_text_shadow: .25px .25px white;

.right-section {
  display: inline-flex;
  box-shadow: $slight_box_shadow;
  flex-flow: column;
  text-indent: 5px;

  background-color: #8898ad;

  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;

  font-size: 12px;
  text-shadow: $white_text_shadow;

  .subcontent {
    text-indent: 0px;
    margin: 3px;
    margin-left: 5px;
    color: white;
    font-size: 11px;
    text-shadow: .5px .5px black;
  }
  .sub-title {
    color: black;
    text-shadow: $white_text_shadow;
  }
  .new_contact {
    display: inline-flex;
    flex-flow: column;
    text-indent: 0px;
    margin-left: 5px;

    font-size: 11px;
    width: 75%;
    .submit_button {
      width: 50%;
    }
    .label {

      margin-right: 5px;
      margin-bottom: 5px;
    }
    .text_field {
      box-shadow: $slight_box_shadow;
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }
}
