<h1><%= @category.title %></h1>

<ul>
  <% @category.jobs.each do |job| %>
    <li class="long-list">
      <%= link_to job.title, company_job_path(job.company, job), class: "link title_link" %>
      (<%= link_to job.company.name, company_jobs_path(job.company), class: "link title_link detail_link" %>)
    </li>
  <% end %>
</ul>
