<div class="header">
  Job Tracker
</div>
<ul>
  <li><%= link_to "Home", companies_path, class: 'navlink' %></li>
  <li><%= link_to "Companies", companies_path, class: 'navlink' %></li>
  <li><%= link_to "Categories", categories_path, class: 'navlink' %></li>
</ul>
